<br />

<div class="container">

  <h1 class="text-center">{{title}}</h1>

  <h4><b>{{usernameLabel}}</b> {{userModel.username}}</h4>
  <h4><b>{{idLabel}}</b> {{userModel.id}}</h4>

  <br />

  <div *ngIf="isMyPage">

    <hr class="bg-danger border-2 border-top border-danger">

    <button type="button" class="btn btn-primary"
            [style.margin]="'0 .5vw 0 0'"
            (click)="logout()">
      {{logoutStr}}
    </button>

    <button type="button" class="btn btn-primary"
            [style.margin]="'0 0 0 .5vw'"
            data-bs-toggle="modal" data-bs-target="#change-password-form-modal">
      {{changePasswordStr}}
    </button>

  </div>

  <hr class="bg-danger border-2 border-top border-danger" *ngIf="noteItems.length">

  <div *ngFor="let noteItem of noteItems">

    <note [noteModel]="noteItem"></note>

    <br />

  </div>

  <div *ngIf="isMyPage">

    <hr class="bg-danger border-2 border-top border-danger">

    <add-note-form></add-note-form>

  </div>

</div>
