<!-- Modal -->
<div class="modal fade" id="change-password-form-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{formTitle}}</h5>
        <button type="button" class="btn-close" id="change-password-form-close-button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <form name="registrationForm">

          <div class="mb-3">
            <label for="oldPassword" class="form-label">{{oldPasswordStr}}</label>
            <input type="password" class="form-control" name="oldPassword" [(ngModel)]="formData.oldPassword"
                   #oldPassword="ngModel" required pattern="^[A-Za-z0-9]{4,40}$"
                   (ngModelChange)="resetServerError()">
            <span for="oldPassword" [hidden]="(oldPassword.valid || oldPassword.untouched) && !serverError" class="text-danger">
              {{firstSpanError}}
            </span>
          </div>

          <div class="mb-3">
            <label for="newPassword" class="form-label">{{newPasswordStr}}</label>
            <input type="password" class="form-control" name="newPassword" [(ngModel)]="formData.newPassword"
                   #newPassword="ngModel" required pattern="^[A-Za-z0-9]{4,40}$"
                   (ngModelChange)="resetServerError()">
            <span for="newPassword" [hidden]="newPassword.valid || newPassword.untouched" class="text-danger">
              {{uncorrectPasswordStr}}
            </span>
          </div>

          <div class="mb-3">
            <label for="confirmNewPassword" class="form-label">{{confirmNewPasswordStr}}</label>
            <input type="password" class="form-control" name="confirmNewPassword" [(ngModel)]="formData.confirmNewPassword"
                   #confirmNewPassword="ngModel" required pattern="^[A-Za-z0-9]{4,40}$"
                   (ngModelChange)="resetServerError()">
            <span for="confirmNewPassword" [hidden]="confirmNewPassword.value === newPassword.value || confirmNewPassword.untouched"
                  class="text-danger">
              {{uncorrectConfirmPasswordStr}}
            </span>
          </div>

        </form>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="submitForm()">
          {{formSubmitButton}}
        </button>
      </div>

    </div>
  </div>
</div>
